/**
* qbo module default style sheet file.
* You may override this style sheet by setting the 'cssFile'
* in the module's configuration.
*
*/

/**
* Default style.
*/

th.button-column select {background-color: #eee;}
.grid-view .page-sizer { text-align:right; margin-bottom:5px; }

#qbo a { color:#666699; font-weight:bold; }
#qbo a:hover { color:#666699; text-decoration:underline; }
#qbo hr { height:0; border-style:none; border-bottom:1px dashed #f0f0f0;margin-bottom:0; }
td.qboedithistory {text-align:center;}

#qbo #content { position:relative; }

#qbo .form label {
  display:inline-block;
  margin:0 5px 8px 0;
  font-weight:bold;
  font-size:12px; }
#qbo .form input[type=text],

#qbo .form input { outline:none !important; }
#qbo .form input[type=submit] { padding:2px 5px; }
#qbo .form span.required { color:#ff0000; }
#qbo .form fieldset { border: 1px solid; }

#qbo .data-column {
  color:#808080;
  font-family:Consolas, Arial, san-serif !important;
  font-size:11px;
}

#qbo .hover td { background-color:#ffffdd !important; }

#qbo .info { color:#808080; font-size:12px; font-style:italic; }
#qbo .hint { width:320px; color:#808080; font-size:11px; font-style:italic; }

#qbo .child-count { font-weight:bold; }

/**
* Jquery UI style.
*/

.ui-widget * { font-family:Trebuchet MS, Verdana, san-serif !important; font-size:11px; }
.ui-widget .error { color:#FF0000; font-size:12px; font-style:italic; }
